<!DOCTYPE html>
<html>
<head>
    <title>Привет #BlondieCode!</title>
    <meta charset="utf-8">
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
    <link rel="stylesheet" href="style.css">
</head>
<body style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:10px; padding:20px 40px; margin: 0; line-height:1.5;">
<table cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td colspan="10">
            <img src="<%=logo%>" width="200" height="50" style="margin-bottom: 34px;">
        </td>
    </tr>
    <tr>
        <td colspan="10" style="padding-bottom:30px; font-size:8px; color:#777777;">
            <b>Рога и Копыта ® Company</b> - ул. Цветочная, д. 4б, офис 206, Винтерхолд, Скайрим
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <b>Данные о плательщике</b>
            <br>
            Номер абонента: <%=id%>
            <br>
            Название Комании: <%=company%>
            <br>
            Контактное лицо: <%=name%>
            <br>
            E-Mail: <%=email%>
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="5" style="border-bottom: 1px solid #d6d6d6; padding-bottom: 6px;">
            <b style="font-size:12px;">Номер счета: 88066</b>
        </td>
    </tr>
    <tr>
        <td colspan="6"></td>
        <td colspan="3" style="padding: 6px 0 30px;">
            Дата оплаты
        </td>
        <td colspan="1" style="padding: 6px 0 30px;">
            <%=date%>
        </td>
    </tr>
    <tr>
        <td colspan="10" style="padding: 30px;"></td>
    </tr>
    <tr>
        <td colspan="6" style="padding: 24px;"></td>
    </tr>
    <tr>
        <td colspan="6" style="background: #d6d6d6; padding: 6px;">
            <b>Название товара</b>
        </td>
        <td style="background: #d6d6d6; padding: 6px;">
            <b>Количество</b>
        </td>
        <td style="background: #d6d6d6; padding: 6px;">
            <b>Ед. измерения</b>
        </td>
        <td style="background: #d6d6d6; padding: 6px;">
            <b>Цена</b>
        </td>
        <td style="background: #d6d6d6; padding: 6px;">
            <b>Сумма</b>
        </td>
    </tr>
    <tr>
        <td colspan="6" style="padding: 6px; border: 1px solid #d6d6d6;">
            <%=product%>
        </td>
        <td style="padding: 6px; border-bottom: 1px solid #d6d6d6; border-top: 1px solid #d6d6d6;">
            <%=quantity%>
        </td>
        <td style="padding: 6px; border: 1px solid #d6d6d6;">
            <%=units%>
        </td>
        <td style="padding: 6px; border-bottom: 1px solid #d6d6d6; border-top: 1px solid #d6d6d6;">
            <%=price%>
        </td>
        <td style="padding: 6px; border: 1px solid #d6d6d6;">
            <%=price*quantity%>
        </td>
    </tr>
    <tr>
        <td colspan="10" style="padding: 14px;"></td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td colspan="4" style="padding: 6px;">
            <b>Сумма к оплате с учетом НДС</b>
        </td>
        <td style="padding: 6px;"></td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td colspan="4" style="padding: 6px; border-top: 1px solid #d6d6d6;">
            <b>НДС &nbsp;</b>13%
        </td>
        <td style="padding: 6px; border-top: 1px solid #d6d6d6;">
            <%=price*quantity*0.13%>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <a href="https://www.youtube.com/channel/UCSsg9NLCse2XQCIRgfmJu3Q" style="color:#000000">Больше информации о наших услугах</a>
        </td>
        <td></td>
        <td colspan="4" style="background: #d6d6d6; padding: 6px;"><b>Всего <%=currency%></b></td>
        <td style="background: #d6d6d6; padding: 6px;">
            <b><%=price*quantity*1.13%></b>
        </td>
    </tr>
    <tr>
        <td colspan="10" style="padding: 80px"></td>
    </tr>
    <tr>
        <td colspan="10" style="text-align:center; font-size: 8px; border-top: 1px solid #d6d6d6; padding-top: 16px;">
            <b>Рога и Копыта ® Company</b>
            <br>ул. Цветочная, д. 4б, офис 206, Винтерхолд, Скайрим
            <br>880066<br>
            <b>E-Mail:</b>aida.drogan.box@gmail.com
        </td>
    </tr>
</table>
</body>
</html>